# locks the provider (plugin assosiated with) version
# other team members code wont break 
# doesnt contain sesitive info
# doesnt need to be gitignored 
# .terraform.lock.hcl

# doesnt contain sensitive files, just to avoid blot in your remote repos
.terraform/


# most important to protect as they contain credentials 
# used by Terraform
terraform.tfstate
terraform.tfstate.backup

# variables 
*.tfvars
*.auto.tfvars
variable.tf

# override files
override.tf
override.tf.json